

:root{

    --yellow: #fec435;

    font-family: "Tagesschrift";
}

:root::selection{

    background-color: white;
    color: black;
    cursor: text;
}

body{
    margin: 0px;

    overflow: hidden;
}

.page{

    background-image: url(./imgs/doodle-wallpaper-yellow.jpg);

    background-color: var(--yellow);
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;


    display: flex;
    flex-direction: row;

    align-items: center;
}

.description{

    font-size: 24px;
}

.left-side{


    flex: 6;

}

.right-side{

    background-color: var(--yellow);

    flex: 4;

    padding: 30px 70px;
    margin: 20px;

    border-radius: 20px;
    border: 10px solid white;
    outline: 10px solid black;

    animation: reveal-animation 1s ease-out;

    position: relative;
}


@keyframes reveal-animation{

    from{

        opacity: 0;
        transform: translateX(100px);
    }

    to{

        opacity: 1;
        transform: translateX(0px);

    }

}

.form-input-container{

    display: flex;
    flex-direction: column;

    margin: 20px 0;

    gap: 10px;
}

.form-input-row{

    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.input-with-header input{

    border: 3px black solid;
    outline: 3px white solid;
    border-radius: 10px;
    height: 1.5em;
}

.input-with-header input:invalid{

    outline-color: black;
    border-color: black;
}


.input-with-header label{

    display: block;
}

label{
    text-transform: capitalize;
}


button{

    padding: 20px 50px;
    width: fit-content;
    border: 4px solid black;
    border-radius: 20px;
    font-family: "Tagesschrift";

    font-size: 1.2em;

    background-color: white;
    color: black;

    margin-top: 30px;

    position: relative;

    overflow: hidden;

    transition: color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

button:hover{

    cursor:pointer;
    background-color: var(--yellow);
    color: white;

    transition: color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}



a:link{

    color: white;
    text-decoration: none;
}

a:visited{

    color:white;
    text-decoration: underline;
}